@import "../../common/colors.scss";

.header{
    background-color: $secondary-color;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem;
    position: fixed;
    width: 100%;
    top: 0;
}
.logo{
    font-weight: 600;
    font-size: 2rem;
    color:$font-primary;
}
.user-image , .user-image img{
    width:3rem;
    height: 3rem;
}
.searchBar{
   width: 50%;
    display: flex;
    justify-content: center;
    form{
        width: 70%;
        display: flex;
        justify-content: center;
       
        input{
            width: 70%;
            outline: none;
            padding: 0 5px;
            font-size: 18px;
        }
        button{
            cursor: pointer;
            font-size: 20px;
            padding: 0 8px;
          
        }
    }
}
@media only screen and (max-width:768px){
    .user-image , .user-image img{
        width:2rem;
        height: 2rem;
    }
    .header{
        padding:0 1rem;   
        z-index: 10;
    }
    .logo{
        font-size: 1rem;
       
    }
    .searchBar{
        width: 100%;
    }
}