@import "../../common/colors.scss";

.header{
    background-color: $secondary-color;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem;
    position: fixed;
    width: 100%;
    top: 0;
}
.logo{
    font-weight: 600;
    font-size: 2rem;
    color:$font-primary;
}
.user-image , .user-image img{
    width:3rem;
    height: 3rem;
}
@media only screen and (max-width:768px){
    .user-image , .user-image img{
        width:2rem;
        height: 2rem;
    }
    .header{
        padding:0 1rem;   
    }
    .logo{
        font-size: 1rem;
       
    }
}